.note {
  background: orange;
  padding: 1rem;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  display: block;
  break-inside: avoid;
  width: 100%;
}

.note-title {
  margin: auto;
  color: black;
  text-align: center;
}

.note-content {
  font-weight: 500;
}

button {
  background-color: rgb(235, 111, 111);
}
