.note {
  background: orange;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  display: block;
  break-inside: avoid;
  width: 100%;
}

.noteDate {
  text-align: center;
  color: black;
}

.note-title {
  margin: auto;
  color: black;
  text-align: center;
}

.note-content {
  font-weight: 500;
  color: black;
  padding: 1.5rem;
}

.noteButtons {
  display: flex;
  justify-content: space-evenly;
}

.deleteButton {
  background-color: #dc3545;
}

.updateButton {
  background-color: #007bff;
}

.saveButton {
  background-color: #77dd77;
  color: black;
}

.update-note-content {
  display: flex;
  margin: 2rem auto;
  color: black;
  font-size: 16px;
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #bfc6c7e8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  resize: vertical;
}
